 /* Por etiqueta */
 h1 {
     font-family: 'Courier New', Courier, monospace;
 }

 /* Por clase */

 .labelClass {
     color: blue;
 }

 /* Por ID */
 #inputNombre {
     font-size: 30px;
 }

 #inputHabilidades {
     font-size: 50px;
 }

 #inputExperiencia {
     font-size: small;
 }

 /* Por Important */
 .classInput {
     font-size: 100px !important;
 }